<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Edit Listing</h3>
    <br />
    <form
      action="/listings/<%= listing._id %>?_method=PUT"
      method="POST"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div>
        <label for="title" class="form-label"> Title : </label>
        <input
          value="<%= listing.title %>"
          type="text"
          name="listing[title]"
          id="title"
          placeholder="Enter title"
          class="form-control mb-3"
          required
        />
        <div class="invalid-feedback">Enter a title!</div>
      </div>

      <div>
        <label for="description" class="form-label"> Description : </label>
        <textarea
          class="form-control mb-3"
          name="listing[description]"
          id="description"
          required
        >
<%= listing.description %>
        </textarea>

        <div class="invalid-feedback">Enter a short description!</div>
      </div>

      <div>
        Original Image : <br>
        <img src="<%= listing.image.url %>" alt="" class="img-fluid" style="height: 8rem; width: 10rem">
        <br><br>

        <label for="image" class="form-label">Upload New Image : </label>
        <input
          value="<%= listing.image %>"
          class="form-control mb-3"
          type="file"
          name="listing[image]"
          id="image"
          placeholder="Enter image url/link"
        />

        <div class="invalid-feedback">
          Enter an image!
        </div>
      </div>

      <div>
        <label for="location" class="form-label"> Location : </label>
        <input
          value="<%= listing.location %>"
          type="text"
          class="form-control mb-3"
          name="listing[location]"
          id="location"
          required
          placeholder="Enter Location"
        />

        <div class="invalid-feedback">Location should be valid!</div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <label for="country" class="form-label"> Country : </label>
          <input
            value="<%= listing.country%>"
            type="text"
            name="listing[country]"
            class="form-control mb-3"
            id="country"
            required
            placeholder="Enter Country"
          />

          <div class="invalid-feedback">Country should be valid!</div>
        </div>

        <div class="col-md-4">
          <label for="price" class="form-label"> Price : </label>
          <input
            value="<%= listing.price %>"
            class="form-control mb-3"
            type="number"
            name="listing[price]"
            id="price"
            required
            placeholder="Enter Price"
          />
          <div class="invalid-feedback">Price should be valid!</div>
        </div>
      </div>
      <br />
      <button class="btn add-btn">Save Changes</button>
      <br /><br />
    </form>
  </div>
</div>
